.flights {
    margin-top: 11rem;
    @include respond(lg) {
        margin-top: 5rem;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        margin-top: 6.5rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid $color-text-light-2;
        @include respond(lg) {
            margin-top: 5rem;
        }
        &--center {
            display: flex;
            justify-content: space-between;
            width: 52%;
            @include respond(sm) {
                width: 45%;
            }
        }
    }

    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 14.5rem;
        border-bottom: 1px solid $color-text-light-2;

        &--center {
            display: flex;
            justify-content: space-between;
            width: 57%;
            @include respond(sm) {
                width: auto;
            }
        }

        &--left {
            display: flex;
            align-items: center;
        }

        &--box {
            margin-left: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &--top {
            font-size: 1.6rem;
            font-weight: 400;
            color: $color-text;
            margin-bottom: 2rem;
            @include respond(lg) {
                font-size: 1.3rem;
            }
            @include respond(sm) {
                font-size: 1rem;
            }
        }

        &--bottom {
            font-size: 1.6rem;
            color: $color-text-light;
            @include respond(lg) {
                font-size: 1.3rem;
            }
            @include respond(sm) {
                font-size: 1rem;
            }
        }
    }
}